@import "tailwindcss";
@plugin "@iconify/tailwind4";
@plugin "@tailwindcss/forms";


@theme {
    /* we will customixe the theme here */
    --font-primary-main: Inter, sans-serif;
    --color-primary-background: "";
    --color-primary-main: "";
    --color-primary-main-text: "";

    /* =========== for the main white color =======*/
    --color-primary-main-white: #ffffff;

    /* for the form inputs here */
    --color-primary-focus-border: #2f45ff;
    --color-primary-focus-ring: #2f45ff;

    /* for buttons */
    --color-primary-main-blue: #2f45ff;

    /* ======== for the form error =========== */
    --color-form-error: #ff2323;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/extras/ttf/Inter-Regular.ttf");
    font-weight: 500;
    font-style: normal;
}